/*
 * Edit this for slide style
 */
.slide{
	background-image: url('http://www.brandondavis.co/uploads/knitted-netting.png');
	background-repeat: repeat;
}

/*
 * Edit this for slide content style
 */

body{
	text-align: center;
	font-family: 'Roboto Slab', serif,Helvetica, Arial;
	line-height: 24px;
}

a{
	text-decoration: none;
	color: yellow;
}
h1{
	font-size: 3.77em;
}

h2{
	font-size: 2.11em;
}

h3{
	font-size: 1.55em;
}

h4{
	font-size: 1em;
}

strong{
	font-size: 30px;
	font-family: Droid;
	text-align: center;
}

ol{
	text-align: center;
}

li{
	text-align: left;
}

code{
  background: #FCFCFC;
  color: blue;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid grey;
  padding: 0 5px 0 5px; 
  border-radius: 4px;
}

section{
	font-size: 20px;
	float: left;
	text-align: left;
	padding-left: 400px;
	padding-right: 400px;
	clear: both;
}