html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.presentation{
	width: 100%;
	height: 100%;
    margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-y:hidden;
	overflow-x:hidden;
	z-index: 1;
	text-align: center;
}

.slide{
	height: 100%;
	width: 100%;
	font-size: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	top : 20%;
	padding: 7% 0px;
	margin-bottom: 0px;
	overflow-y:hidden;
	overflow-x:hidden;
	text-align: center;
}